<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<script> 
		
	</script>
	<h1>Home Page</h1>
	<form action="/admin" method="get">
		<span>Ingrese su nombre para ingresar al menu admin</span>
		<input type="text" name="user">
		<button type="submit">Ir a menu admin</button>
	</form>
	
	<img src="/images/node.jpg" width="60%">

</body>
</html>